@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-surface-highlight: #334155;
  --color-primary: #818cf8;
  --color-secondary: #64748b;
  --color-text: #f8fafc;
  --color-text-secondary: #94a3b8;
  --color-border: #1e293b;
  --color-success: #22c55e;
  --color-error: #ef4444;
  --color-warning: #eab308;
  --color-info: #3b82f6;
}
